ion-header ion-toolbar {
  --background: var(--ion-color-primary); /* deja que herede del header */
    padding: 10px 15px;         
}

ion-buttons[slot="start"] {
  display: flex;
  align-items: center;
  min-width: 48px; /* evita que el título lo aplaste */
}

ion-header ion-title {
  font-weight: 700;          /* negrita */
  font-size: clamp(1.5rem, 2.5vw, 2rem); /* más grande y escalable */
  text-align: center;        /* opcional, centrado */
}

ion-toolbar {
  position: relative;
}

ion-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

ion-back-button {
  --color: white;
  width: clamp(2rem, 4vw, 3rem);
  height: clamp(2rem, 4vw, 3rem);
}

ion-back-button::part(icon) {
  font-size: 200px;
  width: 1em;
  height: 1em;
}

ion-content::part(scroll) {
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 16px;
}

ion-card {
    background: var(--ion-color-light);
    max-width: 800px;
    border-radius: 16px;
}

p {
    font-size: clamp(1rem, 3vw, 1.2rem);
}

ion-button{
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.boton-guardar {
  --background: var(--ion-color-success);
  color: white;
}

img {
  border-radius: 7%;
}
