ion-list.incidencias-list {
  margin: 0 auto;
  background-color: transparent;
  max-width: 1000px;
  width: 100%;
  min-width: 200px;
}

ion-item::part(native) {
  border-radius: 12px;
  margin-bottom: 12px;
  background-color: var(--ion-color-light);
  font-size: 200px;
}

/* Item individual estilo moderno */
.listado-incidencias .incidencia-item {
  --background: var(--ion-color-light);
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1); /* sombra un poco más visible */
  padding: 16px;
  --inner-padding-end: 12px;
}

.listado-incidencias .incidencia-label h2 {
  font-size: 200px; /* más grande y escalable */
  font-weight: 600;
  color: var(--ion-color-dark);
  margin-bottom: 6px;
}

.titulo-incidencia {
  font-size: 200px; /* más grande y escalable */
  font-weight: 600;
  color: var(--ion-color-dark);
  margin-bottom: 6px;
}